@page
@model IndexModel
@{
    ViewData["Title"] = " Entre Aço & Polvora";
}

<div style=" width: 800px;">
    <h1 class="display-4">Bem vindo Jogador</h1>
    <p>
        Você está prestes a entrar em um mundo de imaginação sem limites,
        onde personagens são forjados nas mentes criativas dos jogadores
        e inseridos em um mundo vasto e abundante em mistérios e aventuras épicas.
    </p>
    <p>
        Destaques do Nosso Sistema:
    </p>

    <p>
        Focos e habilidades: A criacao dos personagens tem ja um diferecial de controle elemental e
        foco em habilidades marciais tendo no inicio 4 opções mas futuramente sendo adicionadas
        outras arvores de habilidades.
    </p>

    <p>
        Mundo Vasto: Esse mundo é dividido em 12 continentes sendo os Marinos a união das tribos da Água,
        o Circulo é a união das tribos do Fogo, Roctamantis é a união das tribos da Terra,
        Windalalia é a união das tribos do Vento, Hiemisista é a união das tribos do Gelo,
        Helorin é a união das tribos da Luz, Physiczonamia é a união das tribos do Metal,
        Blyskavaredim é a união das tribos do Raio, Azrrarat é a união das tribos das Trevas,
        Yggdraniam é a união das tribos da Madeira, Incarnanius é a união das tribos do Sangue
        e Magicannius o continente escola que é o território da maior escola de magia do mundo.

        
    </p>
</div>
