@page
@model EAP.Pages.CreatePersona.IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>Sala de criação de personagem.</title>

</head>

<body>

    <label for="campoNome">Digite o nome do personagem:</label>
    <input type="text" id="campoNome" name="nome">
    <label for="selecao">Escolha uma raça:</label>
    <select id="selecao" name="opcao">
        <option value="opcao1">Humano</option>
        <option value="opcao2">Elfo</option>
        <option value="opcao3">Anao</option>
        <option value="opcao4">Ogro</option>
    </select>
</body>
</html>