@page
@model EAP.Pages.CreatePersona.IndexModel

<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <h2>Sala de criação de personagem.</h2>
    <br>

    <label for="campoNome">Digite o nome do personagem:</label>
    <input type="text" id="campoNome" name="nome">
    <br>
    <label for="selecao">Escolha uma raça:</label>
    <select id="selecao" name="opcao">
        <option value="opcao1">Humano</option>
        <option value="opcao2">Elfo</option>
        <option value="opcao3">Anao</option>
        <option value="opcao4">Ogro</option>
    </select>
    <div id="Passo2">
        <a id="CreateP" href="../CriacaoPersonagem/Passo2ATRIB">Criar Personagem</a>
    </div>
</body>
</html>