@page
@model EAP.Pages.CriacaoPersonagem.Passo3HABModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Habilidades e Proficiências</title>
</head>
<body>
    <label for="campoTexto">Digite seu nome:</label>
    <input type="text" id="campoTexto" name="nome">
    <label for="campoTexto">Digite seu nome:</label>
    <input type="text" id="campoTexto" name="nome">
    <label for="campoTexto">Digite seu nome:</label>
    <input type="text" id="campoTexto" name="nome">
</body>
</html>