@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

/* === Estilos para tela === */
.dark-mode-fundo {
    background-color: #3c4043
}
/* === END Estilos para tela END === */

html {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/* === Estilos para NavBar === */
.lateral-navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #333;
    padding-top: 20px;
    transition: left 0.5s;
    z-index: 2;
}
    .lateral-navbar a {
        padding: 15px;
        text-decoration: none;
        font-size: 23px;
        color: white;
        display: block;
        transition: padding 0.3s;
        color: white !important;
        margin-top: 25px;
        font-weight: bold;
    }
.lateral-navbar a:hover {
    padding-right: 25px;
}

#openLatNav {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 3;
}

.navbar a {
    color: white !important;
}
.nav-item a {
    color: white !important;
}

#CreateP {
    background-color: #fdb709;
}
/* === END Estilos para NavBar END === */

/* === Estilos padrão para componentes de interface === */

/* Estilos padrão para TextBox */
input[type="text"] {
    min-width: 200px;
    height: 37px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    border-radius: 13px;
    outline: none;
    border: none;
    margin: 2px;
    background-color: #ffffff;
}

/* Estilos padrão para Label */
label{

}

/* Estilos padrão para DropDownList */
.custom-dropdown {
}

.custom-dropdown-toggle {
    width: 200px;
    height: 37px;
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 13px 13px 13px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    content: '';
    background-image: url('../icons/chevron-down-solid.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

    .custom-dropdown-toggle::after {
        
    }

/* Estilo para o menu suspenso */
.custom-dropdown-menu {
    display: none; 
    position: absolute;
    background-color: #ffffff; 
    border: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 0px 0px 13px 13px;
}

    /* Estilo para os itens do menu suspenso */
    .custom-dropdown-menu li {
        padding: 10px; 
        border-top: 1px solid #ccc;
    }

        /* Estilo para os links dos itens do menu suspenso */
        .custom-dropdown-menu li a {
            text-decoration: none; 
            color: #333; 
            display: block; 
        }

            /* Estilo para os links dos itens do menu suspenso quando hover (passar o mouse) */
            .custom-dropdown-menu li a:hover {
                background-color: none; 
                color: #000; 
            }

/* === END Estilos padrão para componentes de interface END === */
