
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

/* === Estilos para tela === */
.dark-mode-fundo {
    background-color: #3c4043
}
/* === END Estilos para tela END === */

html {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/* === Estilos para NavBar === */
.lateral-navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #333;
    padding-top: 20px;
    transition: left 0.5s;
    z-index: 2;
}
    .lateral-navbar a {
        padding: 15px;
        text-decoration: none;
        font-size: 23px;
        color: white;
        display: block;
        transition: padding 0.3s;
        color: white !important;
        margin-top: 25px;
        font-weight: bold;
    }
.lateral-navbar a:hover {
    padding-right: 25px;
}

#openLatNav {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 3;
}

.navbar a {
    color: white !important;
}
.nav-item a {
    color: white !important;
}

#CreateP {
    background-color: #fdb709;
}
/* === END Estilos para NavBar END === */

/* === Estilos padrão para componentes de interface === */

/* Estilos padrão para TextBox */
input[type="text"] {
    width: 200px;
    height: 33px;
    padding: 10px;
    font-size: 16px;
    color: black;
    border-radius: 13px;
    outline:none;
    border: none;
    margin: 2px;
}

/* Estilos padrão para Label */
label{

}

/* Estilos padrão para DropDownList */
.custom-dropdown-toggle {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: 1px solid #007bff; /* Borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Mostrar um cursor de apontador ao passar o mouse */
}

/* Estilo para o menu suspenso */
.custom-dropdown-menu {
    display: none; /* Ocultar o menu por padrão */
    position: absolute;
    background-color: #fff; /* Cor de fundo do menu */
    border: 1px solid #ccc; /* Borda do menu */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    /* Estilo para os itens do menu suspenso */
    .custom-dropdown-menu li {
        padding: 10px; /* Espaçamento interno dos itens */
        border-bottom: 1px solid #ccc; /* Borda inferior dos itens */
    }

        /* Estilo para os links dos itens do menu suspenso */
        .custom-dropdown-menu li a {
            text-decoration: none; /* Remover sublinhado dos links */
            color: #333; /* Cor do texto dos links */
            display: block; /* Fazer os links ocuparem todo o espaço do item */
        }

            /* Estilo para os links dos itens do menu suspenso quando hover (passar o mouse) */
            .custom-dropdown-menu li a:hover {
                background-color: #007bff; /* Cor de fundo quando hover */
                color: #fff; /* Cor do texto quando hover */
            }

/* === END Estilos padrão para componentes de interface END === */
